// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  padding: 20px 50px;
}

.task_card{
  color:white;
  background: green;
  padding: 10px;
  border: 1px solid black;
  width: 800px;
}

// .task_card p:visited{
//   color:red;
// }
